.wtext{
    margin-left: 10% !important;
    margin: 28px;
    font-weight: 900;
}

.loginMain {
    margin-top: 30%;
    margin-left: 5%;
    margin-right: 5%;
    /* width: 86%; */
}

.siginLink {
    margin-top: 35%;
    float: left;
}
.submitLogin {
    margin-top: 31%;
    font-size: larger;
    font-weight: bolder;
    float: right;
    color: white;
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 64px;
    background-color: #3C2365;
    margin-bottom: 7px;
}

.loginMain input::placeholder {
    text-align: left;
    font-size: 20px;
}

.outer {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
}

.outer2{
    margin-left: 10%;
    margin-right: 10%;
}

.signup {
    float: left;
    margin-top: 20%;
}

.forgot {
    float: right;
    margin-top: 23%;
}