<<<<<<< HEAD
.container{
    height: 100hv;
}

.text {
    position: absolute;
    top: 13px;
    right: 13px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.previous{
=======
.container {
    padding: 20px;
  }
  
  .text {
    margin: 0;
>>>>>>> 8178d1cc2f926b8a30aced927b29af4bec82632b
    text-align: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .ask {
    width: 100%;
  }
  
  .bimg,
  .sendimg {
    width: 30px;
    height: 30px;
    margin-top: 5px; /* Adjust the value as needed */
  }
  
  .bingstyle{
    margin: bottom 51%;
    width: min-content;
  }
  
  .ques {
    margin-bottom: 20px;
  }
  
  .cardMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  p {
    margin: 0;
    text-align: left;
  }
  
  .previous {
    text-align: center;
  }
  