.container {
  height: 100hv;
}

.bimg {
  padding: 4%;
  padding-left: 2% !important;
  color: aqua;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.previous {
  text-align: center;
}
.ask > .cardMain {
  display: flex;
  height: 50px;
  justify-content: space-between;
}
p {
  margin-left: 1rem;
  text-align: left;
}
.ques > .cardMain {
  display: flex;
  justify-content: space-between;
}
