.container {
    padding: 20px;
  }
  
  .text {
    margin: 0;
    text-align: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .ask {
    width: 100%;
  }
  
  .bimg,
  .sendimg {
    width: 30px;
    height: 30px;
    margin-top: 5px; /* Adjust the value as needed */
  }
  
  .bingstyle{
    margin: bottom 51%;
    width: min-content;
  }
  
  .ques {
    margin-bottom: 20px;
  }
  
  .cardMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  p {
    margin: 0;
    text-align: left;
  }
  
  .previous {
    text-align: center;
  }
  