.ftrmain {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.v2 {
  float: right;
  border-left: 6px solid #675A5A;
  height: 69px;
  margin-top: 15px;
  margin-left: 15px;
}

.ftrimg{
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 15px;
  margin-bottom: 0;
  width: 40px;
  height: 39px;
}

.text {
  margin-left: 15px !important;
  margin: 0;
}
