.demo {
  width: 100%;
}

.back {
  position: absolute;
  top: 13px;
  left: 13px;
}

.descTxt {
  background: -webkit-linear-gradient(#d4cf4c, #eeeb90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  float: left;
  margin-top: 0.9%;
  margin-left: 3.1%;
}

.descVal {
  margin-top: 0%;
  float: left;
  text-align: left;
  margin-left: 3.1%;
}

.buynow {
  margin-left: 2.2px;
  margin-top: 5%;
  width: 83px;
  /* height: 123px; */
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(140deg, #2D1555 0%, rgba(152, 90, 254, 0.49) 100%);
  padding: 2%;
  position: relative;
}

.innerBuyEclipse {
  width: 64px;
  height: 56px;
  flex-shrink: 0;
  margin: 12%;
}

.buyimage {
  position: absolute;
  top: 31.8%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.textbuy {
  width: 61px;
  height: 17.524px;
  flex-shrink: 0;
  margin: 0 27%;
  margin-top: -1%;
}

.moreInfo {
  margin-top: 8%;
  width: 80px;
  height: 28px;
}