@media (min-width: 768px) {
  .cardMain {
    overflow: hidden !important;
  }
}

.goldtxt {
  background: -webkit-linear-gradient(#d4cf4c, #eeeb90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.foodImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vl {
  float: left;
  border-left: 6px solid;
  height: 32px;
}
