{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3" // Specify the version of core-js
      }
    ],
    "@babel/preset-react" // Include @babel/preset-react for JSX support
  ]
}
