.ctext{
    margin: 28px;
}

.login {
    margin-top: 20%;
}

.inputs {
    margin-left: 1%;
}

.sigup {
    margin: 0%;
    padding-top: 15px;
}

.btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50%;
    margin-top: 30%;
    bottom: 5%;
}

.submit {
    margin-top: 31%;
    font-size: larger;
    font-weight: bolder;
    float: right;
    color: white;
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 64px;
    background-color: #3C2365;
    margin-bottom: 7px;
}

.signin{
    float: left;
    margin-top: 31%;

}

.ctext input::placeholder {
    text-align: left;
    font-size: 20px;
}

.inputMain{
    width: 96%;
    height: 68px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: white;
}